# Markdown
[[language]]
name = "markdown"
language-servers = ["literate-lsp", "marksman"]
formatter = { command = "prettier", args = ["--parser", "markdown"] }

[language-server.literate-lsp]
command = "literate-lsp"

[langugage-server.marksman]
command = "marksman"
args = ["server"]

# Auto pairs
[language.auto-pairs]
"'" = "'"
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'

# Rust
[[language]]
name = "rust"
auto-format = false

[language-server.rust-analyzer]
command = "rust-analyzer"

# Python
[[language]]
name = "python"
auto-format = false
language-servers = ["basedpyright", "ruff", "ty"]

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.ty.config]
inlayHints.callArgumentNames = true
experimental.rename = true
experimental.autoImport = true
